header {
    background-color: #212931;
    text-align: center;
    height: 70px;
}

h1 {
    color: white;
    padding-top: 5px;
}

.container,
.col {
    padding-left: 0px;
    padding-right: 0px;
}

.float-left {
    float: left;
}

.aside {
    background-color: whitesmoke;
    padding: 10px;
    height: 100%;
}

h5 {
    margin-bottom: 0px;
}

.form-control {
    max-width: 200px;
}

.aside .card {
    margin-top: 25px;
}

#content {
    padding-top: 15px;
    padding-left: 15px;
}

.card-body {
    padding-bottom: 30px;
}

.card-body img {
    position: relative;
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}

.badge {
    padding: 10px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

#current-weather {
    margin-bottom: 15px;
}

#five-day-forecast .card {
    width: 140px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#five-day-forecast .card-body {
    padding: 10px;
}

#five-day-forecast img {
    height: 30px;
    width: 30px;
    margin-bottom: 12px;
}