header {
    background-color: #212931;
    text-align: center;
    height: 70px;
}

h1 {
    color: white;
    padding-top: 5px;
}

.container,
.col {
    padding-left: 0px;
    padding-right: 0px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.aside {
    background-color: whitesmoke;
    padding: 10px;
}

h5 {
    margin-bottom: 0px;
}

.form-control {
    max-width: 200px;
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 15px;
}

.clear-both {
    clear: both;
}

#content {
    padding-top: 15px;
    padding-left: 15px;
}

.card-body {
    padding-bottom: 30px;
}

.card-body h3 {
    margin-bottom: 25px;
}

.badge {
    padding: 10px;
}

#current-weather {
    margin-bottom: 15px;
}

#five-day-forecast .card {
    width: 125px;
    margin-right: 20px;
}

#five-day-forecast .card-body {
    padding: 10px;
}